*{
    box-sizing:border-box;
}

.flex-container{
display: flex;
resize:horizontal;
background-color: #ffffff;
margin:1em;
overflow:hidden;
flex-direction:row;
} 

.item{
    margin: 1em;
    padding:0.5em;
    width: 110px;
    min-width: 0%;
    background-color:cadetblue;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
}

.auto{
    flex:auto;
}

.initial{
    flex:initial;
}

.four{
    flex:4;
}

.two{
    flex:2;
}

.one{
    flex:1;
}