#content{
    display: flex;
}

div > div{
    border: 3px solid rgb(0 0 0 / 20%)
}

.box1,
.box2,
.box3,
.box6{
    flex-grow: 1;
}

.box4,
.box5{
    flex-grow: 2;
    border:3px solid rgb(0 0 0 / 20%);
}

.box1{
    background-color: #ff0000;
}
.box2{
    background-color: #1eff00;
}
.box3{
    background-color: #b27d7d;
}
.box4{
    background-color: #0d5896;
}
.box5{
    background-color: #05964d;
}
.box6{
    background-color: #a46a06;
}

.container{
  display: flex;
  background-color:#0d5896;
  height: 200px;
  width:30%;
  padding: 10px;
  border: 4px solid #05964d;
  
}

.item{
    height:100px;
    width:100px;
    background-color: #00dceb;
    border: 3px solid #15455d;
   flex:1;
}


/* form styled here */

form{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap:16px;

}

#name{
    flex-grow: 1;
    flex-basis: 180px;
}
#email{
    flex-grow: 1;
    flex-basis: 180px;
}

#butn{
    flex-grow: 1;
    flex-basis: 80px;
}